# Application Configuration
PORT=3100
NODE_ENV=production
URL_CORS=http://localhost:3000 https://localhost:3000

# Logging Configuration
LOG_LEVEL=info
LOG_PATH=logs
LOG_MAX_SIZE=5242880
LOG_MAX_FILES=5
LOG_MAX_DAYS=30

# Security Configuration
HASH_ROUNDS=12
MAX_REQUESTS_TTL_MS=5000
MAX_REQUESTS_LIMIT=10
